* {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ttt-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ttt-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.ttt-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    border: 1px solid black;
    font-weight: 600;
    font-size: 3rem;
}