* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: small;
}

body {
    margin: auto;
    max-width: 1200px;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    background-image: url(./img/banner.jpg);
}

.main-content {
    flex-grow: 1;
    display: flex;
    padding: 70px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    width: 100%;
    align-items: center;
    height: 80px;
    background-image: url(./img/banner_footer.jpg);
}

.footer-container {
    display: flex;
    gap: 1.5rem;
}

#booking-text {
    font-size: 2rem;
    font-weight: bold;
}

.left {
    flex-grow: 1.5;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding-right: 20px;
}

.right {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

.logo {
    height: 80%;
}

.logo-container {
    height: 100%;
}

nav {
    display: flex;
    height: 100%;
    align-items: flex-end;
    gap: 2rem;
}

nav>a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    height: 1px;
}


#portrait1 {
    grid-area: 1 / 1 / 2 / 2;
}

#portrait2 {
    grid-area: 1 / 2 / 2 / 3;
}

#portrait3 {
    grid-area: 2 / 1 / 3 / 2;
}

#portrait4 {
    grid-area: 2 / 2 / 3 / 3;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input,
textarea {
    width: 100%;
}

.group-image {
    max-width: 685px;
    max-height: 685px;
}